* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #B0E0E6;  /*powder blue*/
}
.button {
  display: flex;
  color: #FFF;
  background-color: #FFB6C1;
  font-weight: bold;
  padding: 20px;
  border: 3px solid #000000;
  border-radius: 5px;
  margin: 40px auto;
  width: 180px;
  bottom: 40px;
  justify-content:center;
}
.call-to-action {
  font-style: oblique;
  font-size: 35px;
  text-align: center;
  margin-top: 40px auto;
}
@font-face {
  font-family: 'blackjack';
  src: url('blackjack-webfont.woff') format('woff')
}
@font-face {
  font-family: 'abhayalibre'
  src: url('abhaya-libre-fontfacekit')
}
@font-face {
  font-family: 'blackrose'
  src: url('BLACKR-webfont.woff') format('woff')
}
h1 {
  font-family: 'blackjack', sans-serif;
  font-size: 165px;
  text-align: center;
  line-height: 2em;
  color: #000000;
  margin-bottom: 70px;
}
p {
  font-size: 23px;
  text-align: center;
  color: #000000;
  top: 20px;
  margin-top: -150px;
}
.menu-container {
   color:#FFF;
   background-color: #FFf;
   padding: 20px;
   display: flex;
   justify-content: space-around;
   margin-top: 20px;
   margin-bottom: 45px;
 }
 a:hover {
   color: black;
   text-decoration: underline;
 }
 .page {
   width: 400px;
   margin: 0 auto;
 }
 .newyork img {
   float:left;
   margin-left: 100px;
   border: 5px solid #FFF;
   display: flex;
   flex-flow: column;
 }
.pitt img {
  float:right;
  margin-right: 100px;
  border: 5px solid #FFF;
  display: flex;
  flex-flow:column;
}
.Facebook, .Twitter, .Instagram, .Home {
  background-color: #FFF;
}
a:link {
  color: black;
}
.after img {
  float: left;
  margin-left: 550px;
  margin-top: 40px;
  display: flex;
}
}
.albums img {
  margin-left: 6px;
  border: 4px solid #fff;
  display: flex;
}
ul {
  list-style-type: circle;
  font-size: 30px;
  margin-left: 190px;
}
.world img {
  margin-left: 500px;
  margin-top: 40px;
  border: 3px solid #FFB6C1;
  display:flex;
}
iframe {
  margin-left: 380px;
  display: flex;
}
.logo img {
  margin-left: 570px;
  display: flex;
  flex-flow: wrap;
}
h3 {
  color: #FFF;
}
.header-container {
  color: #fff;
  background-color: #B0E0E6;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 90px;
}
.header {
  font-size: 100px;
  background-color: #B0E0E6;
  display: flex;
}
.Facts {
  color: #FFF;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 70px;
}
